includes:
  - ./vendor/nunomaduro/larastan/extension.neon


parameters:

  paths:
    - src

  # The level 8 is the highest level
  level: 6

  ignoreErrors:
    - '#Method [a-zA-Z\\\<\>]+::handle\(\) should return bool\|null but returns int.#'

  checkMissingIterableValueType: false
  noUnnecessaryCollectionCall: false
  checkModelProperties: false
  reportUnmatchedIgnoredErrors: false
  checkGenericClassInNonGenericObjectType: false
